* {
    margin: 0;
    padding: 0;
    }
    body{
      font-family: 'Baloo Tammudu 2', cursive;
    }
    header {
    height: 87px;
    background-color: #bbb;
    position:fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 5;
    }
     header nav {
       display: flex;
       padding:15px;
      font-family: 'Montserrat', sans-serif;
    }
      .logo {
        height: 100%;
        display: flex;
        padding-top: 10px;
        padding-left: 35px;
    }
    .fa-search:before{
        display: none;
      }
    /*tìmkiếm*/
    .box{
      margin-left: 50px;
      padding-top:15px
    }
    .sbox {
      position: relative;
      margin-top: -5px;
      }
      .stext {
      width: 200px;
      height: 40px;
      background: #F0EFEA;
      border: none;
      font-size: 10pt;
      float: left;
      color: #fff;
      padding-left: 45px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 15px;
      }
      .fa-paper-plane-o {
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 16px;
      margin-top: 12px;
      z-index: 1;
      color:black;
      }
    .links{
      padding-left: 150px;
      margin-top:-5px;
      column-gap: 30px;
      height: 100%;
      display: flex;
      align-items: center;
      padding-top: -10px;
      
    }
    nav .links li {
      list-style: none;
    }
    nav .links a {
      display: block;
      padding: 1em;
      font-size: 16pt;
      font-weight: bold;
      color: #fff;
      text-decoration: none;
      
    }
    li a:hover{
      color: #f75353;
      text-decoration: under-line;
    }
    #nav-toggle {
      position: absolute;
      top: -100px;
    }
    nav .icon-burger {
      display:none;
      position: absolute;
      left: 5%;
      top: 50%;
      transform: translateY(-50%);
    }
    nav .icon-burger .line {
      width: 30px;
      height: 5px;
      background-color: #fff;
      margin: 5px;
      border-radius: 3px;
      transition: all .3s ease-in-out;
    }
     /*main*/
  .main {
    width: 900px;
    height: 300px;
    clear: both;
    }
    /*baner*/
    .baner div{
      height: 350px;
      width: 100%;
      text-align: center;
      font-size: 20pt;
    }
    h1{
      padding-top: 160px;
      color: #f75353;
    }
    /*noidung*/
    .dong3{
        display: flex;
        justify-content: center;
        column-gap: 30px;
        padding-top: 30px;
       
      }
      .card4 img{
        width: 100%;
        height: 300px;
        border-radius: 15px;
        opacity: 1;
        -webkit-transition:all 1s ease-out;
        -moz-transition:all 1s ease-out;
        -ms-transition:all 1s ease-out;
        -o-transition:all 1s ease-out;
        transition:all 1s ease-out;
      }
      .card4>img:hover{
        opacity: 0.5;
        -webkit-transform:rotate(40deg);
        -moz-transform:rotate(40deg);
        -ms-transform:rotate(40deg);
        -o-transform:rotate(40deg);
        transform:rotate(40deg);
      }
      .chu1{
        width:330px;
        margin:0 auto;
        display: flex;
        border-radius:10px;
        background-color: #f75353;
        column-gap: 30px;
        padding-top: 10px;
        font-size: 12pt;
        justify-content:center;
      }
      .chu2 p{
        font-size: 10.5pt;
        margin-top: -30px;
        padding: 15px;
      }
      .fa-eye{
         padding-top: 5px;
      }
      h2{
          font-size: 12pt;
          padding: 15px;
      }
      .card4{
        width: 350px;
        height: 600px;
        background:white;
        overflow:hidden;
        box-shadow: 0px 0px 10px rgb(145, 140, 140);
        border-radius: 15px;
        position:static;
      }
      .dong4{
        display: flex;
        justify-content: center;
        column-gap: 30px;
        padding-top: 30px;
      }
      .dong5{
        display: flex;
        justify-content: center;
        column-gap: 30px;
        padding-top: 30px;
      }
      /*xemthêm*/
  .toggle-box {
    display: none;
  }
  label{
    font-size: 16pt;
    text-align: center;
    margin-top:50px;
  }
  label:hover{
    color:#f75353;
  }
  .toggle-box + label {
    cursor: pointer;
    display: block;
    font-weight: bold;
    line-height: 21px;
    margin-bottom: 5px;
  }
  .toggle-box + label + div {
    display: none;
    margin-bottom: 10px;
  }
  .toggle-box:checked + label + div {
    display: block;
  }
  /*footer*/
  footer {
    height: 370px;
    background: rgb(59, 59, 59);
    clear: both;
    margin-top: 30px;
    }
    .thongtin{
      display: flex;
      justify-content: space-around;
      line-height: 44px;
      color: white;
      padding: 20px;
    }
    .thongtin1{
      font-size: 14pt;
      color: white;
      text-align: center;
      box-shadow:0px 0px 10px rgb(73, 71, 71) ;
    }
    a{
      color: #fff;
      text-decoration: none
    }
    .fa:hover{
      transform: scale(1.5);
    }
     /* Responsive CSS cho điện thoại */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 880px){
* {
margin: 0;
padding: 0;
}
.container {
width: 99.9%!important;
height: 99.9%!important;
}
.header {
width: 99.9%!important;
}
.logo{
margin:0 auto;
padding-left:100px;
}
.fa-search:before{
display: block;
padding-top:10px;
padding-left:75px;
color:white;
}
.box{
display: none;
}
nav .links {
float: none;
position: fixed;
z-index: 9;
left: 0;
right: 0;
top: 100px;
bottom: 100%;
width: auto;
height: auto;
flex-direction: column;
justify-content: space-evenly;
background-color: rgba(0,0,0,.8);
overflow: hidden;
box-sizing: border-box;
transition: all .5s ease-in-out;
}
nav .links a {
font-size: 20px;
}
nav :checked ~ .links {
bottom: 0;
}
nav .icon-burger {
display: block;
margin-top:0;
}
nav :checked ~ .icon-burger .line:nth-child(1) {
transform: translateY(10px) rotate(225deg);
}
nav :checked ~ .icon-burger .line:nth-child(3) {
transform: translateY(-10px) rotate(-225deg);
}
nav :checked ~ .icon-burger .line:nth-child(2) {
opacity: 0;
}
/*main*/
main {
width: 99.9%!important;
height: auto;
margin-top: 80px;
}
.baner div{
width: 99.9%!important;
height: 99.9%!important;
}
h1{
font-size: 30pt;
margin-top:-110px;
}
/*noidung*/
.dong3{
  flex-direction: column;
  margin-top:-30px;
}
.card4{
  width:70%;
  height:535px;
  margin:0 auto;
  margin-top:30px;
}
.chu1{
  width:80%;
  font-size:10pt;
}
.chu2 h2{
  font-size:10pt;
  text-align:justify;
}
.chu2 p{
  font-size:8pt;
  text-align:justify;
}
.dong4{
  flex-direction: column;
  margin-top:-30px;
}
.dong5{
  flex-direction: column;
  margin-top:-30px;
}
/*footer*/
footer {
  width: 99.9%!important;
  height: 99.9%!important;
  margin-top:30px;
  }
  .noidung .fa-bars{
    display: block;
  }
  .noidung .fa-search{
    display: block;
  }
  .thongtin{
    max-width:90%;
    margin-left:25px;
    column-gap:15px;
  }
  .noidung5{
   line-height:20px;
   font-size:7.5pt;
  }
  .noidung6{
   display:none;
  }
  .thongtin1{
   font-size:10pt;
  } 
}